@model WebApplication1.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<li>Genre: @Model.Genre.Name</li>

@if (Model.ReleaseDate != null)
{
    <li>Release date: @Model.ReleaseDate.Value</li>
}

@if (Model.DateAdded != null)
{
    <li>Date added: @Model.DateAdded.Value</li>
}

